@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Varela+Round&family=Zen+Kurenaido&display=swap');

/*
font-family: 'Asap Condensed', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Zen Kurenaido', sans-serif;
*/

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Zen Kurenaido', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(201858.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title {
    font-family: 'Varela Round', sans-serif;
    font-size: 45px;
}

.nav_link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items {
    list-style: none;
}

.nav_links {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}


.nav_img {
    display: block;
    width: 30px;
}

.nav_close {
    display: var(--show, none);
}

.hero_container {
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    grid-template-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title {
    font-size: 8rem;
}

.hero_paragraph {
    margin-bottom: 20px;
    font-size: 30px;
}